// blue
$blue-lighten2: #ecf8ff;
$blue-lighten1: #62c2fd;
$blue: #039dfc;
// pupple
$pupple-lighten1: #fcf6fd;
$pupple: #a239c0;
// gray
$gray-base: #c4c4c4;

// Banner
$banner-font: $blue;

