// blue
$blue-lighten2: #ecf8ff;
$blue-lighten1: #62c2fd;
$blue: hsl(203, 98%, 50%);
$blue-darken1: hsl(203, 100%, 50%);
// pupple
$pupple-lighten1: #fcf6fd;
$pupple: hsl(287, 54%, 49%);
$pupple-darken1: hsl(287, 100%, 50%);
// $pupple :
// gray
$gray-base: #c4c4c4;

// Banner
$banner-font: $blue;

$ocean-lighten1: #dad8ff;
$ocean: hsl(244, 60%, 61%);
$ocean-darken1: hsl(244, 100%, 50%);

